@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header, .home, .about_me, .education, .project, .contact {
    display: flex;
    justify-content: center;
    background-color: #161e31;
    align-items: center;
}

.logo_img img {
    width: 238px;
}

.navi {
    display: flex;
}

.navi a {
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
}

.navi a div {
    font-size: 20px;
    font-weight: 500;
    padding: 4px 0;
}

.navi a:hover {
    color: #F8B179;
}

.dtruong_img img {
    width: 515px;
    opacity: 50%;
    flex-shrink: 0;
}

.wrapper {
    width: 82.64%;
}

.dtruong_text .back_text {
    font-size: 128px; 
    font-weight: 800; 
    text-transform: uppercase; 
    letter-spacing: -2.56px; 
    color: transparent; 
    position: absolute; 
    left: 53px;
    -webkit-text-stroke: 2px #69709E;
}

.dtruong_text .back_text:hover {
    color: #69709e;
}

.dtruong_text .front_text {
    font-size: 64px; 
    font-weight: 800; 
    text-transform: uppercase; 
    color: #f8b179; 
    position: absolute; 
    top: 94px;
    -webkit-text-stroke: 2px #161e31;
}

.download_cv .dlcv_wrapper {
    color: #69709E;
    padding: 16px 24px; border: 2px solid #69709e; display: inline-block;
}

.download_cv .dlcv_wrapper:hover {
    background-color: #F8B179;
    color: #161e31;
    border: 2px solid #F8B179;
}

.contact_me a {
    color: #69709e; text-decoration: none; display: flex; align-items: center;
}

.contact_me a:hover {
    color: #F8B179;
}

.contact_me a:hover div {
    border: 1px solid #F8B179;
}

.contact_me a div {
    width: 28px; height: 28px; border-radius: 14px; border: 1px solid #69709e; display: flex; align-items: center; justify-content: center; margin-right: 10px;
}

.contact_me i {
    font-size: 14px;
}

.session_title .title_line {
    width: 150px; height: 2px; background-color: #f8b179;
}

.session_title .bg_title {
    font-size: 128px; font-weight: 600; letter-spacing: -7.68px; text-transform: uppercase; color: rgba(182, 189, 206, 0.20);
}

.session_title .main_title {
    font-size: 24px; font-weight: 600; text-transform: uppercase; color: #f8b179; background-color: #161e31; padding: 0 6px;
}

.course {
    text-decoration: none; display: inline-block; margin-bottom: 50px;
}

.course:hover {
    box-shadow: 0px 0px 10px 0px #F8B179;
}

.course .course_wrp {
    display: flex; align-items: center; width: 466px; height: 140px; border: 2px solid #69709e;
}

.course img {
    width: 64px; margin-left: 25px; margin-right: 18px;
}

.course .course_name {
    font-size: 24px; font-weight: 600; color: #f8b179;
}

.course .course_brief {
    font-size: 16px; font-weight: 400; color: #69709e; margin-top: 6px;
}

.my__proj {
    width: 424px; height: 152px; border: 2px solid #69709e; display: flex; align-items: center;
}

.my__proj .proj__img {
    width: 96px; height: 96px; border: 2px solid #f8b179; margin-right: 14px; margin-left: 26px; display: flex; align-items: center; justify-content: center; overflow: hidden;
}

.my__proj .proj__img img {
    min-width: 100%; min-height: 100%; object-fit: cover;
}

.my__proj .proj__title {
    font-size: 22px; font-weight: 600; color: #F8B179;
}

.my__proj .proj__des {
    font-size: 14px; font-weight: 400; letter-spacing: -0.14px; color: #69709E; margin-top: 8px;
}

.proj__gnr {
    text-decoration: none; display: inline-block;
}

.proj__gnr:hover {
    box-shadow: 0px 0px 10px 0px #F8B179;
}

.projs {
    width: 1360px; display: flex; justify-content: space-between; margin: auto;
}

.more_proj:hover div {
    box-shadow: 0px 0px 10px 0px #F8B179;
}

.other_contact>div {
    width: 142px; height: 1px; background-color: #f8b179;
}

.contact__adr {
    text-decoration: none;
}

.contact__address:hover {
    border: 2px solid #F8B179;
}

.contact__address:hover i {
    color: #F8B179;
}

.contact__address {
    width: 48px; height: 48px; border: 2px solid #69709E; display: flex; align-items: center; justify-content: center; border-radius: 25px;
}

.contact__address i {
    font-size: 28px; color: #69709E;
}

*:focus {
    outline: none;
    box-shadow: 0px 0px 4px 0px #F8B179;
}

.input__contact p {
    font-size: 17px; font-weight: 300; color: #f8b179; margin-left: 48px; margin-bottom: 2px;
}

.input__contact input {
    height: 52px; border-radius: 34px; border: 2px solid #69709E; background-color: transparent; color: #f8b179; padding: 0 16px 0 32px; font-size: 18px;
}

.send_msg {
    font-size: 20px; font-weight: 600; color: #161e31; background-color: #69709e; cursor: pointer; padding: 12px 24px; border-radius: 34px; border: 2px solid #69709E; line-height: 36px;
}

.send_msg:hover, .send_msg:focus {
    color: #69709E; border: 2px solid #F8B179; background-color: transparent; box-shadow: 0px 0px 10px 0px #F8B179;
}

@media only screen and (max-width: 1024px) {
    .home {
        display: none;
    }
}